<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dexingworld.hanfu.repository.dao.UserMenuDao">
    
    <sql id="requestAllFields">
        <![CDATA[
            id,
            userId,
            menuId,
            createTime,
            updateTime
        ]]>
    </sql>
    
    <sql id="whereClause">
        <where>
            <if test="null!=id">AND id = #{id}</if>
            <if test="null!=userId">AND userId = #{userId}</if>
            <if test="null!=menuId">AND menuId = #{menuId}</if>
            <include refid="extendedWhereClause" />
        </where>
    </sql>
    
    <insert id="add" useGeneratedKeys="true" parameterType="com.dexingworld.hanfu.repository.entity.UserMenu" keyProperty="id">
        INSERT INTO t_user_menu
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="null!=userId">,userId</if>
            <if test="null!=menuId">,menuId</if>
            <if test="null!=createTime">,createTime</if>
            <if test="null!=updateTime">,updateTime</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" prefixOverrides=",">
            <if test="null!=userId">,#{userId}</if>
            <if test="null!=menuId">,#{menuId}</if>
            <if test="null!=createTime">,#{createTime}</if>
            <if test="null!=updateTime">,#{updateTime}</if>
        </trim>
    </insert>
    
    <update id="update" parameterType="com.dexingworld.hanfu.repository.entity.UserMenu">
        UPDATE t_user_menu
        <trim prefix="SET" prefixOverrides=",">
            <if test="null!=userId">,userId = #{userId}</if>
            <if test="null!=menuId">,menuId = #{menuId}</if>
            <if test="null!=createTime">,createTime = #{createTime}</if>
            <if test="null!=updateTime">,updateTime = #{updateTime}</if>
            <include refid="extendedUpdateSql" />
        </trim>
        WHERE id = #{id}
    </update>
    
    <select id="query" parameterType="com.dexingworld.hanfu.repository.entity.UserMenu" resultType="com.dexingworld.hanfu.repository.entity.UserMenu">
        SELECT <include refid="requestAllFields"/> FROM t_user_menu
        <include refid="whereClause" />
        <include refid="extendedOrderByClause" />
        <if test="null!=requestOffset">
            LIMIT #{startRow}, #{endRow}
        </if>
    </select>
    
    <select id="get" parameterType="com.dexingworld.hanfu.repository.entity.UserMenu" resultType="com.dexingworld.hanfu.repository.entity.UserMenu">
        SELECT <include refid="requestAllFields"/> FROM t_user_menu
        <include refid="whereClause" />
        LIMIT 1
    </select>
    
    <select id="getById" parameterType="long" resultType="com.dexingworld.hanfu.repository.entity.UserMenu">
        SELECT <include refid="requestAllFields"/> FROM t_user_menu WHERE id = #{id}
    </select>
    
    <select id="count" parameterType="com.dexingworld.hanfu.repository.entity.UserMenu" resultType="int">
        SELECT COUNT(1) FROM t_user_menu <include refid="whereClause" />
    </select>


    <select id="queryUserMenuWithParent"  resultType="com.dexingworld.hanfu.repository.entity.Menu">
        SELECT m.* FROM t_user_menu um
        INNER JOIN t_menu m
        ON um.menuId = m.id
        WHERE um.userId = #{userId}
        <if test="parentId != null">
            AND  m.parentMenuId=#{parentId}
        </if>
        order by orderClomun
    </select>
    
    <!-- 扩展的更新等语句（自定义）-->
    <sql id="extendedUpdateSql">
        <if test="null!=extendedParameter">
            
        </if>
    </sql>
    
    <!-- 扩展的条件过滤语句（自定义）-->
    <sql id="extendedWhereClause">
        <if test="null!=extendedParameter">
            
        </if>
    </sql>
    
    <!-- 扩展的排序等语句（自定义）-->
    <sql id="extendedOrderByClause">
        <if test="null!=extendedParameter">
            
        </if>
    </sql>
    
</mapper>